@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
--moonlitasteroid:#2C5364;
--white:#fafafa;
--black:#030303;
}

body {
background-color:var(--MoonlitAsteroid);
background: url(images/DRIVETRAIN.jpg) no-repeat;
background-size:cover;
font-family: 'Montserrat', sans-serif;
font-size:1.1em;
line-height:1.5;
text-align:center;
margin:0;
}

a {
color:#000;
}

.heading h2 {
font-size:4rem;
text-align:center;
margin:4rem;
}

.header {
background-color: #fafafa;
box-shadow:1px 1px 4px 0 rgba(0,0,0,0.412);
position:fixed;
width:100%;
z-index:3;
top:0;
}

.header ul {
list-style:none;
overflow:hidden;
background-color:#fafafa;
margin:0;
padding:0;
}

.header li a {
display:block;
text-decoration:none;
padding:15px 20px;
}

.header li a:hover,.header .menu-btn:hover {
background-color:#00e5ff7e;
}

.header .logo {
display:block;
float:left;
font-size:2em;
text-decoration:none;
padding:10px 20px;
}

.header .menu {
clear:both;
max-height:0;
transition:max-height .2s ease-out;
}

.header .menu-icon {
cursor:pointer;
display:inline-block;
float:right;
position:relative;
user-select:none;
padding:28px 20px;
}

.header .menu-icon .navicon {
background:#333;
display:block;
height:2px;
position:relative;
transition:background .2s ease-out;
width:18px;
}

.header .menu-icon .navicon:before,.header .menu-icon .navicon:after {
background:#333;
content:'';
display:block;
height:100%;
position:absolute;
transition:all .2s ease-out;
width:100%;
}

.header .menu-icon .navicon:before {
top:5px;
}

.header .menu-icon .navicon:after {
top:-5px;
}

.header .menu-btn {
display:none;
}

.header .menu-btn:checked ~ .menu {
max-height:240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
background:transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
transform:rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
transform:rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top:0;
}

.navigation {
display:flex;
flex-direction:row;
justify-content:space-between;
}

.navbar {
max-width:100%;
background-color:#370D0E;
border:#000 solid 2px;
padding:14px 20px;
}

.dropknap {
display:block;
background-color:#370D0E;
color:rgba(255,255,255);
font-size:17px;
text-decoration:none;
border:none;
margin-left:20px;
}

#drop:checked + .dropdownknapper {
display:block;
color:#370D0E;
text-decoration:none;
}

.dropdown {
position:relative;
display:inline-block;
}

.dropdownknapper {
display:none;
position:absolute;
background-color:#370D0E;
min-width:300px;
left:0;
}

.dropdownknapper a {
color:#FFF;
text-decoration:none;
display:block;
border:solid #000 2px;
padding:20px;
}

.dropdown:active .dropdownknapper {
display:block;
}

.knapper a {
margin-right:30px;
text-decoration:none;
color:#FFF;
letter-spacing:.2em;
padding:14px 20px;
}

.knapper a:hover {
background-color:#370D0E;
transition:ease-in .3s;
padding:14px 20px;
}

.container {
display:flex;
flex-direction:column;
align-items:center;
}

.form-container {
display:flex;
flex-direction:column;
align-items:center;
width:100%;
}

.overskrift {
display:flex;
flex-direction:column;
align-items:center;
color:#FFF;
}

.text {
display:flex;
flex-direction:column;
align-items:center;
color:#FFF;
width:50%;
margin-left:25%;
margin-right:25%;
}

input[type=text],select,textarea {
display:flex;
margin-bottom:16px;
flex-direction:column;
align-items:center;
justify-content:center;
width:80%;
background:rgba(255,255,255,0.584);
box-sizing:border-box;
margin-top:6%;
margin-left:10%;
border:none;
border-radius:50px;
text-align:center;
padding:12px;
}

.button {
background-color:#FFF;
border:none;
color:var(--Black);
text-align:center;
text-decoration:none;
display:inline-block;
font-size:16px;
margin-top:30px;
margin-bottom:16px;
border-radius:10px;
width:30%;
margin-left:98px;
padding:15px 32px;
}

.footer-container {
background-color:#370D0E;
color:#FFF;
left:0;
bottom:0;
height:auto;
text-align:center;
padding-top:10px;
padding-bottom:5px;
}

.socials {
width:40px;
height:auto;
}

.title {
color:#FFF;
text-align:center;
padding-top:10%;
padding-bottom:15%;
font-size:50px;
}

#title {
color:#fafafa;
font-size:75px;
}

.textmain {
font-size:20px;
font-family:Montserrat, sans-serif;
text-align:center;
font-weight:500;
}

.main {
content:center no-repeat;
box-shadow:0 3px 5px 2px rgba(0,0,0,0.063);
position:relative;
width:100%;
height:100%;
background:url(https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/p1080x2048/125018946_387768335684527_4356238590361254134_n.jpg?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=2Hd3qR5uagAAX-UsiJp&_nc_ht=scontent-cph2-1.xx&tp=6&oh=50b7f41349db8be6ccef2076a4cd842c&oe=5FCF61D9) center center no-repeat, var(--White);
background-size:cover;
}

.text2 {
text-align:center;
color:#fafafa;
margin-left:20px;
margin-right:20px;
margin-top:-45px;
font-size:12px;
}

.h2 {
font-size:15px;
text-align:center;
color:#fafafa;
}

.product-img {
position:absolute;
left:0;
margin-top:100px;
margin-left:50px;
width:100%;
height:70%;
opacity:90%;
}

.product-detail {
font-size:11px;
color:#fff;
padding:5px 20px;
}

.ul-size {
margin-left:15px;
}

.ul-size li a {
display:inline-block;
text-decoration:none;
font-size:11px;
width:22px;
height:22px;
border-radius:100%;
text-align:center;
line-height:23px;
color:#000;
}

.ul-size li a.active {
background:#0f0;
color:#fff;
}

.ul-color {
margin-left:-15px;
}

.ul-color li a {
display:inline-block;
width:25px;
height:25px;
border-radius:100%;
padding:2px;
}

.ul-color li a.jetblack {
background:#000;
}

.ul-color li a.ruby {
background:#b50000;
}

.ul-color li a.snowy {
background:#d4dcdf;
}

.ul-color li a.emerald {
background:#09640b;
}

.ul-color li a.cyan {
background:#19a3c9;
}

.ul-color li a.active:after {
position:absolute;
content:'';
display:inline-block;
border:4px solid #55ff0069;
width:32px;
height:32px;
border-radius:100%;
margin-left:-7.5px;
margin-top:-7.5px;
}

.button2 {
box-shadow:0 -5px 5px 1px rgba(0,0,0,0.158);
position:absolute;
background:#fafafa;
text-align:center;
display:inline-block;
font-size:18px;
font-weight:200;
color:#030303;
border-radius:7px;
margin-top:70px;
margin-left:100px;
padding:7px 20px;
}

a.button2 {
display:inline-block;
border:.1em solid #1b1b1b;
border-radius:.12em;
box-sizing:border-box;
text-decoration:none;
font-family:Montserrat,sans-serif;
font-weight:300;
color:#000;
text-align:center;
transition:all .2s;
margin:-2.5em 0 0 5em;
padding:.35em 1.2em;
}

a.button2:hover {
color:#000;
background-color:#000;
}

.card {
border-radius:25px;
box-shadow:-11px 11px 1px rgba(0,0,0,0.3);
}

.product-size:before,.product-size:after {
content:'';
display:block;
clear:both;
}

.button1 {
position:absolute;
background:var(--Black);
text-align:center;
display:inline-block;
font-size:24px;
font-weight:200;
color:var(--White);
border-radius:7px;
margin-top:70px;
margin-left:60px;
padding:7px 20px;
}

a.button1 {
display:inline-block;
border:.1em solid #3a3a3a;
border-radius:.12em;
box-sizing:border-box;
text-decoration:none;
font-family:Montserrat,sans-serif;
font-weight:300;
color:#FFF;
text-align:center;
transition:all .2s;
margin:5em 0 0 1.8em;
padding:.35em 1.2em;
}

a.button1:hover {
color:#000;
background-color:#FFF;
}

.text-sec1 p {
text-align:center;
font-size:15px;
color:#fff;
padding:10px;
}

.img {
width:90%;
display:block;
margin-left:auto;
margin-right:auto;
}

.center {
width:100%;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:-60px;
}

.teknik {
color:#FFF;
margin-top:25px;
line-height:22px;
margin-left:20px;
padding:20px 50px 20px 0;
}

.teknik2 {
color:#FFF;
line-height:22px;
margin-right:0;
padding:10px 0 60px 100px;
}

.site-footer {
background-color:#fafafa;
font-size:15px;
line-height:24px;
color:#737373;
text-align:center;
padding:20px 10px;
}

.container-customize,.container-customize2,.container-customize3 {
width:280px;
height:500px;
margin:50px 50px 50px 45px;
}

.card-head,.card-head2,.card-head3 {
position:relative;
height:252px;
border-radius:25px 25px 0 0;
}

.product-detail h2,.product-detail2 h2,.product-detail3 h2 {
font-size:18px;
font-weight:500;
letter-spacing:2px;
padding-bottom:10px;
text-transform:uppercase;
}

.back-text,.back-text2,.back-text3 {
display:inline-block;
font-size:125px;
font-weight:900;
margin-left:-7px;
margin-top:-12px;
opacity:0.1;
}

.card-body,.card-body2,.card-body3 {
height:255px;
background:#fff;
border-radius:0 0 25px 25px;
}

.product-title,.product-title2,.product-title3 {
display:block;
font-size:17px;
font-weight:500;
letter-spacing:1px;
text-transform:uppercase;
padding:20px 20px 5px;
}

.product-title b,.product-title2 b,.product-title3 b {
font-weight:900;
letter-spacing:0;
}

.badge,.badge2,.badge3 {
position:relative;
font-size:10px;
font-weight:300;
color:var(--Black);
background:#11e95b;
border-radius:4px;
top:-2px;
margin-left:5px;
padding:2px 5px;
}

.product-caption,.product-caption2,.product-caption3 {
display:block;
font-size:10px;
font-weight:400;
text-transform:uppercase;
padding:0 20px;
}

.product-size h4,.product-size2 h4,.product-size3 h4 {
font-size:11px;
margin-top:15px;
text-transform:uppercase;
padding:0 21px 10px;
}

.ul-size li,.ul-color li {
list-style:none;
float:left;
margin-right:20px;
}

.product-color h4,.product-color2 h4,.product-color3 h4 {
font-size:11px;
text-transform:uppercase;
margin:60px 0 0 95px;
padding:0 0 20px;
}

.product-img2,.product-img3 {
position:absolute;
margin-top:70px;
margin-left:0;
width:100%;
height:70%;
opacity:100%;
border-radius:5px;
}

.product-detail2,.product-detail3 {
font-size:11px;
color:#fff;
padding:10px 50px;
}

.ul-color2,.ul-color3 {
margin-left:20px;
}

.ul-color2 li,.ul-color3 li {
list-style:none;
float:left;
margin-right:30px;
}

.ul-color2 li a,.ul-color3 li a {
display:inline-block;
width:60px;
height:60px;
border-radius:100%;
padding:2px;
}

.ul-color2 li a.fabric,.ul-color2 li a.leather {
background:linear-gradient(135deg,rgba(255,255,255,0.474) 0 100% center center no-repeat;
background-size:cover;
}

.ul-color3 li a.lillefælge,.ul-color3 li a.storfælge {
background:linear-gradient(135deg,rgba(255,255,255,0) 0 100% center center no-repeat;
background-size:cover;
}

@media min-width 5468em{
.header li {
float:left;
}

.header li a {
padding:20px;
}

.header .menu {
clear:none;
float:right;
max-height:none;
}

.header .menu-icon {
display:none;
}
}

@media max-width 1240px{
.knapper {
display:none;
}
}

@media all and max-width30em{
 a.button1, a.button2 {
display:block;
margin:.4em auto;
} }